@media screen and (max-width: 980px) {

    header img {
        display: none;
    }

    .menu-mobile img {
        width: 10%;
    }

    .menu-mobile {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    ul.menu {
        display: none;
        margin: 0;
        padding: 0;
    }

    .navbar:hover ul.menu {
        display: flex;
        padding: 10px;

    }

    article {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

@media screen and (max-width: 480px) {

    body {
        margin-bottom: 0;
    }


    .central-band-pc {
        display: none;
    }

    .central-band-mobile {
        display: flex;
        flex-direction: column;
    }

    .central-band-mobile a {
        display: flex;

        justify-content: center;
    }

    .img-footer {
        display: none;
    }

    .partage:hover .img-footer {
        display: flex;
        flex-direction: column;
        width: auto;
    }

   
    
}
